@page
@model AuthGo.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login";
}
<form method="post">
    <button type="submit" class="btn btn-dark" name="provider" value="LocalLogin" title="Log in using your local account">Sign In</button>
</form>